<form class="addAuthor" [formGroup]="addMagazineFormGroup" (submit)="add()">
  <h1>Add Magazine</h1>
  <div class="form-group">
    <label for="addMagazineTitle">Enter magazine title</label>
    <input type="text" class="form-control" id="addMagazineTitle" placeholder="Enter title..." formControlName="title">
  </div>
  <div class="form-group add-book-file">
    <label for="addImg">Add your cover link</label>
    <input type="file" class="form-control" id="addImg" placeholder="Enter you link on image"
      (change)="imgToBaseBook($event)" formControlName="img">
  </div>
  <button type="submit" class="btn btn-success">Add author</button>
</form>