<section class="container">
  <div class="user-book-info">
    <img src={{book.img}} alt="book img">
    <div class="info">
      <h1 class="user-book-title">{{book.title}}</h1>
      <p class="user-book-author">Автор: <a *ngFor="let author of book.authorId"
          routerLink="/user/author/{{author._id}}">{{author.name | slice : 0 : 10}}, </a></p>
      <p class="user-book-language"><span>Language:</span> Russian</p>
      <p class="user-book-short">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem repudiandae quod,
        consequuntur excepturi nulla veniam laudantium asperiores nihil voluptatem accusamus. In repudiandae perferendis
        ad, magni maiores possimus facere nobis quae veniam iusto nam impedit nulla eaque harum atque consequatur
        deleniti voluptatibus hic soluta cumque rerum ipsum sed! Tenetur, aspernatur ipsum. Deleniti quis dolor
        voluptate cupiditate aspernatur reiciendis ipsa, a ea eum magni possimus laborum expedita omnis, esse ullam
        voluptatum, reprehenderit consequatur odio. Nihil, rerum dolorem nisi voluptatum ipsa, non facere, itaque ex
        ullam accusamus sed doloribus. Fuga voluptatibus esse ipsam at ducimus, alias dolor maiores. Repellat
        voluptatibus dolores a eius! </p>
      <p class="user-book-length"><span>Length:</span> {{book.length}} pages</p>
      <p class="user-book-length"><span>File Size:</span> 1068 KB</p>
      <p class="user-book-length"><span>Publication date:</span> {{book.date | date:'dd/MMMM/yyyy'}}</p>
      <div class="social">
        <span class="social-span">Follow us:</span>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-google-plus-g"></i>
      </div>
    </div>
  </div>
  <div class="user-book-text">
    <h1>Short type</h1>
    <p class="user-book-parag" *ngFor="let parag of text">{{parag}}</p>
  </div>
</section>