.header {
  width: 100%;
  padding: 0;
  background-color: #0069d9;
}

.user-info {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0px 2px 13px 0px rgba(126, 126, 126, 0.75);
}

.user-name {
  margin: 0;
  padding-left: 10px;
  .fas {
    padding-right: 5px;
  }
}

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  .lists-links {
    position: relative;
    padding: 5px 40px;
    border: 1px solid #b4b4b4;
    margin-left: 10px;
    cursor: pointer;
    &::before {
      content: "";
      width: 8px;
      height: 8px;
      background: url("../../../../img/arrow-btn.png") no-repeat;
      background-size: cover;
      position: absolute;
      top: 13px;
      right: 6px;
      transform: rotate(90deg);
    }
    &:hover{
      background-color: #0069d9;
      color: #fff;
      border: 1px solid transparent;
    }
    &:hover ul {
      display: block;
    }
    &:hover::before {
      transform: rotate(-90deg);
    }
    p {
      margin: 0;
      padding: 0;
    }
    ul {
      display: none;
      list-style: none;
      top: 35px;
      left: -1px;
      width: calc(100% + 2px);
      position: absolute;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-start: 0;
      box-shadow: 0px 5px 13px 0px rgba(0,0,0,0.75);
      z-index: 1200;
      li {
        padding: 4px 10px;
        width: 100%;
        color: #000;
        cursor: pointer;
        background: #fff;
        &:hover {
          background-color: #0069d9;
          color: #fff;
        }
      }
    }
  }
}
.lists-links-a{
    color: inherit;
    text-decoration-line: none;
  &::before {
    display: none;
  }
}
