<header class="header">
    <div class="user-info">
        <nav class="user-nav">
            <p class="user-name"><i class="fas fa-user"></i>{{userName}}</p>
            <nav class="lists-links">
                <p>User</p>
                <ul>
                    <li routerLink="/admin">User</li>
                    <li routerLink="add-user">Add User</li>
                </ul>
            </nav>
            <nav class="lists-links">
                <p>Books</p>
                <ul>
                    <li routerLink="books">Books</li>
                    <li routerLink="add-book">Add book</li>
                </ul>
            </nav>
            <nav class="lists-links">
                <p>Authors</p>
                <ul>
                    <li routerLink="authors">All authors</li>
                    <li routerLink="add-author">Add author</li>
                </ul>
            </nav>
            <nav class="lists-links">
                <p>Magazines</p>
                <ul>
                    <li routerLink="magazines">All magazines</li>
                    <li routerLink="add-magazine">Add magazine</li>
                </ul>
            </nav>
        </nav>
        <button class="user-logout btn btn-outline-danger" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> Log
            out</button>
    </div>
</header>