<section class="container">
    <form action="" [formGroup]="editMagazineForm">
        <div class="user-book-info">
            <div class="image">
                <img src={{magazine.img}} alt="book img">
                <div class="form-group edit-book-file">
                    <input type="file" class="form-control" id="addImg" placeholder="Enter you link on image"
                        (change)="imgToBaseBook($event)" formControlName="img">
                </div>
            </div>
            <div class="info">
                <div class="form-group">
                    <label for="addBookName">Magazine Title</label>
                    <input type="text" class="form-control" id="addBookName" placeholder="Enter you title book"
                        formControlName="title" [(ngModel)]="magazine.title">
                </div>
                <div class="form-group">
                    <label for="addLength">Add magazine description </label>
                    <textarea type="text" class="form-control" id="addLength"
                        placeholder="Enter magazine shortest description..." formControlName="descr"
                        rows="6"></textarea>
                </div>
                <div class="send-edit-book">
                    <button class="btn-send-edit-book btn btn-primary col-lg-4" (click)="sendUpdateMagazine()">Update
                        magazine</button>
                </div>
                <div class="social">
                    <span class="social-span">Follow us:</span>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-google-plus-g"></i>
                </div>
            </div>
        </div>
    </form>
</section>