@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

section * {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-family: "Quicksand", sans-serif !important;
  font-size: 50px;
  font-weight: 700;
}

section {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../../img/16957.jpg") no-repeat center;
  background-size: cover;
}

.main-form {
  width: 430px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  box-shadow: -2px 5px 44px -1px rgb(2, 2, 2);
  &::before {
    content: "";
    width: 410px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.656);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    top: -10px;
    left: 10px;
  }
}

span {
  border-left: 6px solid #ed2553;
  font-size: 28px;
  padding: 2px 0 2px 50px;
  text-transform: uppercase;
  font-weight: 500;
  color: #ed2553;
}

.change-form {
  width: 40%;
  padding: 5px 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  outline: none;
  outline-color: transparent;
}

.btn-active {
  background: #ed2553;
  color: white;
}

form {
  width: 100%;
  height: inherit;
  padding: 51px 10px 0 0;
  input {
    margin-top: 50px;
    margin-left: 50px;
    width: 330px;
    font-size: 22px;
    padding-bottom: 10px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #c2c2c2;
    outline: transparent;
    transition: all 0.2s;

    &:focus {
      border-color: #ed2553;
      transition: all 0.2s;
    }
  }
}

.btn-send {
  border: 3px solid #949494;
  border-radius: 0px;
  margin: 44px 0 0 104px;
  padding: 19px 90px;
  background-color: transparent;
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  &:hover {
    color: #ed2553;
    border-color: #ed2553;
    transition: all 0.2s;
  }
}

.hide {
  visibility: hidden;
}

p.status {
  text-transform: uppercase;
  color: #000;
  font-weight: 500;
  margin: 44px 0 0 60px;
  padding: 19px 90px;
}

.btn-singup {
  top: 30px;
  right: -64px;
  position: absolute;
  width: 130px;
  height: 130px;
  padding: 0;
  margin: 0;
  border: none;
  color: white;
  background-color: #ed2553;
  border-radius: 50%;
  margin: 0;
  font-size: 50px;
  outline: none;
  cursor: pointer;
  z-index: 9999;
}

.register-state {
  background-color: #ed2553;
  position: relative;
  overflow: hidden;
  input {
    color: white;
    border-color: white;
    &::placeholder {
      color: white;
    }
    &:focus {
      border-color: white;
      transition: all 0.2s;
    }
  }
  .btn-send {
    border-color: white;
    color: white;
    &:hover {
      background-color: white;
      color: #ed2553;
    }
  }

  
  span {
    border-color: #fff;
    color: #fff;
  }

  p.status {
    color: rgb(255, 255, 255);
  }
}

@keyframes btn-login {
  0% {
    top: 30px;
    right: -64px;
    width: 130px;
    height: 130px;
  }
  100% {
    top: 34px;
    right: 20px;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
  }
}

@keyframes btn-login {
  0% {
    top: 30px;
    right: -64px;
    width: 130px;
    height: 130px;
  }
  100% {
    top: 34px;
    right: 20px;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    z-index: 9999;
  }
}

@keyframes btn-singup {
  0% {
    top: 34px;
    right: 20px;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    z-index: 9999;
  }
  100% {
    top: 30px;
    right: -64px;
    width: 130px;
    height: 130px;
    box-shadow: -2px 5px 14px -1px rgb(2, 2, 2);
  }
}

@keyframes register-state {
  0% {
    transform: translate(40%, -40%) scale(0.1);
    border-radius: 50%;
  }
  20% {
    transform: translate(38%, -37%) scale(0.2);
    border-radius: 50%;
  }
  30%{
    transform: translate(34%, -33%) scale(0.3);
    border-radius: 50%;
  }
  40% {
    transform: translate(29%, -28%) scale(0.4);
    border-radius: 50%;
  }
  50%{
    transform: translate(24%, -24%) scale(0.5);
    border-radius: 50%;
  }
  60% {
    transform: translate(19%, -18%) scale(0.6);
    border-radius: 50%;
  }
  70% {
    transform: translate(14%, -13%) scale(0.7);
    border-radius: 50%;
  }
  80% {
    transform: translate(9%, -9%) scale(0.8);
    border-radius: 40%;
  }
  90% {
    transform: translate(4%, -4%) scale(0.9);
    border-radius: 30%;
  }
  100% {
    transform: scale(1);
    border-radius: 5px;
  }
}

@keyframes login {
  0% {
    transform: scale(0);
  }
  10% {
    transform: scale(0.1);
  }
  20% {
    transform: scale(0.2);
  }
  30% {
    transform: scale(0.3);
  }
  40% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(0.6);
  }
  70% {
    transform: scale(0.7);
  }
  80% {
    transform: scale(0.8);
  }
  90% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes move-left {
  0% {
    background-position-x: 0px;
  }
  10% {
    background-position-x: 2px;
  }
  20% {
    background-position-x: 3px;
  }
  30% {
    background-position-x: 4px;
  }
  40% {
    background-position-x: 5px;
  }
  50% {
    background-position-x: 6px;
  }
  60% {
    background-position-x: 7px;
  }
  70% {
    background-position-x: 8px;
  }
  80% {
    background-position-x: 9px;
  }
  90% {
    background-position-x: 10px;
  }
  100% {
    background-position-x: 11px;
  }
}

@keyframes move-right {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 0;
  }
}

.move-background-right{
  animation: move-left 0.3s ease-in-out forwards;
}
.move-background-left{
  animation: move-left 0.3s ease-in-out forwards;
}
.btn-singup {
  animation: btn-singup 0.2s ease-in-out forwards;
}
.btn-login {
  animation: btn-login 0.1s ease-in-out forwards;
}
.login {
  animation: login 0.3s ease-in-out forwards;
}
.reg {
  animation: register-state 0.170s ease-in-out forwards;
}
