<section>
  <div class="main-form">
    <button class="btn-singup" [class.btn-login]="isRegState" [name]="typeOfForm"
      (click)="setRegState($event)">+</button>
    <form class="reg " *ngIf="isRegState" [formGroup]="regFormGroup" (submit)="submitFormReg()"
      [class.register-state]='isRegState'>
      <span>register</span>
      <input type="text" placeholder="User name" name="userName" formControlName="userName">
      <input type="email" placeholder="E-Mail" name="userName" formControlName="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      <input type="text" placeholder="Password" name="userName" formControlName="password">
      <button type="submit" class="btn-send" [disabled]='!regFormGroup.valid'>Sign </button>
      <p class="status" [class.hide]='regFormGroup.valid'>Incorrect e-mail</p>
    </form>

    <form class="login" *ngIf="!isRegState" [formGroup]="loginFormGroup" (submit)="submitFormLogin()">
      <span>login</span>
      <input type="text" placeholder="E-Mail" name="userName" formControlName="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
      <input type="text" placeholder="Password" name="userName" formControlName="password">
      <button type="submit" class="btn-send" [disabled]='!loginFormGroup.valid'>Log</button>
      <p class="status">{{authStatus}}</p>
    </form>

  </div>

</section>