<section class="container">
    <form action="" [formGroup]="editBookForm">
        <div class="user-book-info">
            <div class="image">
                <img src={{book.img}} alt="book img">
                <div class="form-group edit-book-file">
                    <input type="file" class="form-control" id="addImg" placeholder="Enter you link on image"
                        (change)="imgToBaseBook($event)" formControlName="img">
                </div>
            </div>
            <div class="info">
                <div class="form-group">
                    <label for="addBookName">Author Name</label>
                    <input type="email" class="form-control" id="addBookName" placeholder="Enter you title book"
                        formControlName="title" [(ngModel)]="book.title">
                </div>
                <div class="form-group">
                    <label for="addBookAuthor">Select author</label>
                    <div class="add-author">
                        <ng-select [items]="allAuthorsArr" formControlName="authorId" bindLabel="name" bindValue="_id"
                            [multiple]="true" class="selectAuthors" [(ngModel)]="book.authorId">
                        </ng-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addBookAuthor">Select magazines</label>
                    <div class="add-author">
                        <ng-select [items]="allMagazinesArr" formControlName="magazines" bindLabel="title"
                            bindValue="_id" [multiple]="true" class="selectAuthors" [(ngModel)]="book.magazine">
                        </ng-select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="addDate">Add date of publish book</label>
                    <input type="date" class="form-control" id="addDate" placeholder="Enter date of publish"
                        formControlName="date" [(ngModel)]="book.date">
                </div>
                <div class="form-group">
                    <label for="addLength">Add book length </label>
                    <input type="number" class="form-control" id="addLength" placeholder="Enter length of book"
                        formControlName="length" [(ngModel)]="book.length">
                </div>
                <div class="form-group">
                    <label for="addLength">Add book description </label>
                    <textarea type="text" class="form-control" id="addLength" placeholder="Enter description of book"
                        formControlName="descr" rows="6"></textarea>
                </div>
                <div class="send-edit-book">
                    <button class="btn-send-edit-book btn btn-primary col-lg-4" (click)="sendUpdateBook()">Update
                        book</button>
                </div>
                <div class="social">
                    <span class="social-span">Follow us:</span>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-google-plus-g"></i>
                </div>
            </div>
        </div>
    </form>
</section>