<header class="header">
    <div class="user-info">
        <nav class="user-nav">
            <p class="user-name"><i class="fas fa-user"></i>{{userName}}</p>
            <ul>
                <li (click)="searchOn()">Change user info</li>
                <li routerLink="/user">Search books</li>
            </ul>
        </nav>
        <button class="user-logout btn btn-outline-danger" (click)="logOut()"><i class="fas fa-sign-out-alt"></i> Log
            out</button>
    </div>

    <div class="container change-user" *ngIf="isSearch">
        <form class="form" [formGroup]="newUserInfo" (submit)="changeUserInfo()">
            <div class="form-group">
                <label for="inputName">User name</label>
                <input type="text" class="form-control" [ngModel]="userName" id="inputName" aria-describedby="emailHelp"
                    placeholder="Enter user name" formControlName="userName">
            </div>

            <div class="form-group">
                <label for="inputEmail">Email address</label>
                <input type="email" class="form-control" [ngModel]="email" id="exampleInputEmail1"
                    placeholder="Enter email" formControlName="email">
            </div>

            <div class="form-group">
                <label for="inputPass">Password</label>
                <input type="password" class="form-control" id="inputPass" placeholder="Enter password"
                    formControlName="password">
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        </form>

        <div class="logouot">
            <button class="logout-btn" (click)="searchOn()">X</button>
        </div>
    </div>
</header>