.user-info {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0px 2px 13px 0px rgba(126, 126, 126, 0.75);
}

.user-name {
  margin: 0;
  padding-left: 10px;
  .fas {
    padding-right: 5px;
  }
}

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    li {
      margin: 0 5px;
      padding: 4px 10px;
      background-color: #0069d9;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #005bbd;
      }
    }
  }
}

.header {
  width: 100%;
  padding: 0;
  background-color: #0069d9;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: inherit;
  }
}

.form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
}

.form-group {
  margin-right: 10px;
  color: #fff;
}

.form .btn {
  margin-top: 14px;
  background-color: #fd6100d5;
  border: 1px solid #fd6100d5;
  &:hover {
    background-color: #fd610098;
    border: 1px solid #fd6100d5;
  }
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-btn {
  background: transparent;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    color: rgba(255, 255, 255, 0.616);
    transition: all 0.2s;
  }
}

.form-autor {
  margin-top: 14px;
}

.sort-books .form {
  padding: 0;
}
