.addbook,
.addAuthor {
  margin-top: 20px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0px 2px 13px 0px rgba(126, 126, 126, 0.75);
  padding: 10px 20px;
  
  .add-book-file {
    position: relative;

    input {
      line-height: 18px;

      &::before {
        content: "Load image";
        background-color: #248b3c;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 3px;
        color: #fff;
        position: absolute;
        width: 130px;
        height: 36px;
        top: 33px;
        left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1000;
      }

      &:hover::before {
        content: "Select image";
        background-color: #1d6d2f;
        transition: all 0.2s;
      }
    }
  }
}
