<form class="addbook" [formGroup]="addBookFormGroup" (submit)="add()">
    <h1>Add book</h1>
    <div class="form-group">
        <label for="addBookName">Enter book title</label>
        <input type="email" class="form-control" id="addBookName" placeholder="Enter you title book"
            formControlName="title">
    </div>
    <div class="form-group">
        <label for="addBookAuthor">Select author</label>
        <div class="add-author">
            <ng-select [items]="allAuthorsArr" formControlName="author" bindLabel="name" bindValue="_id"
                [multiple]="true" class="selectAuthors" [(ngModel)]="selectedAuthorId">
            </ng-select>
        </div>
    </div>

    <div class="form-group">
        <label for="addBookAuthor">Select magazine</label>
        <div class="add-author">
            <ng-select [items]="allMagazineArr" formControlName="magazineId" bindLabel="title" bindValue="_id"
                [multiple]="true" class="selectAuthors" [(ngModel)]="selectedMagazineId">
            </ng-select>
        </div>
    </div>
    <div class="form-group add-book-file">
        <label for="addImg">Add your cover link</label>
        <input type="file" class="form-control" id="addImg" placeholder="Enter you link on image"
            (change)="imgToBaseBook($event)" formControlName="img">
    </div>
    <div class="form-group">
        <label for="addDate">Add date of publish book</label>
        <input type="date" class="form-control" id="addDate" placeholder="Enter date of publish" formControlName="date">
    </div>
    <div class="form-group">
        <label for="addLength">Add book length </label>
        <input type="number" class="form-control" id="addLength" placeholder="Enter length of book"
            formControlName="length">
    </div>
    <button type="submit" class="btn btn-success" [disabled]="!isImageOnLoadState">Add book</button>
</form>