p {
    padding: 5px 0;
    margin: 0;
  }
  
  .user-book-info {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 20px 0;
    .image{
      width: 400px;
      img {
        max-width: 300px;
        max-height: 500px;
      }
      .edit-book-file{
        width: 60%;
        position: relative;
        margin-top: 20px;
        cursor: pointer;
        &:hover input{
          &::before{
            color: #ED2553;
            cursor: pointer;
          }
        }
        input{
          outline: none;
          &::before{
            content: 'Click for upload image';
            width: 120%;
            height: 60px;
            background: url('https://jdec.herokuapp.com/cloud.png') no-repeat;
            background-size: 60px 40px;
            background-color: #FAFAFA;
            position: absolute;
            text-align: center;
            line-height: 50px;
            font-size: 20px;
            padding-left: 50px;
            top: -5px;
            left: -5px;
          }
        }
      }
    }
    .info {
      padding: 0 30px;
      width: 60%;
      span {
        font-weight: 600;
        color: #000;
      }
    }
  }
  
  .user-book-length {
    color: #0f00dde1;
  }
  
  .user-book-info .info .social {
    padding: 10px 0;
    display: flex;
    align-items: center;
    i {
      padding: 0 5px;
      font-size: 20px;
    }
  }
  
  .user-book-feedback ul {
    list-style: none;
    margin: 0;
    list-style: none;
    padding: 0;
    li {
      border-bottom: 1px solid rgb(173, 173, 173);
      padding: 5px 10px;
      h2 {
        font-size: 20px;
        margin: 0;
      }
      p {
        font-size: 14px;
        margin: 0;
      }
      span {
        font-size: 12px;
        color: rgb(58, 58, 58);
      }
    }
  }
  
  .user-book-feedback-title {
    text-align: center;
    padding: 20px 0 0 50px;
    margin: 0;
  }
  
  .form-group_btn {
    margin-top: 10px;
  }
  
  .user-book-text {
    height: 300px;
    overflow: auto;
    padding: 20px 10px;
  }
  