p {
  padding: 5px 0;
  margin: 0;
}

.user-book-info {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgb(173, 173, 173);
  padding: 20px 0;
  .image {
    width: 400px;
    img {
      max-width: 300px;
      max-height: 500px;
    }
    .edit-book-file {
      width: 60%;
      position: relative;
      margin-top: 20px;
      cursor: pointer;
      &:hover input {
        &::before {
          color: #ed2553;
          cursor: pointer;
        }
      }
      input {
        outline: none;
        &::before {
          content: "Click for upload image";
          width: 120%;
          height: 60px;
          background: url("https://jdec.herokuapp.com/cloud.png") no-repeat;
          background-size: 60px 40px;
          background-color: #fafafa;
          position: absolute;
          text-align: center;
          line-height: 50px;
          font-size: 20px;
          padding-left: 50px;
          top: -5px;
          left: -5px;
        }
      }
    }
  }
  .info {
    padding: 0 30px;
    width: 60%;
    span {
      font-weight: 600;
      color: #000;
    }
  }
}

.user-book-length {
  color: #0f00dde1;
}

.user-book-info .info .social {
  padding: 10px 0;
  display: flex;
  align-items: center;
  i {
    padding: 0 5px;
    font-size: 20px;
  }
}

.user-book-feedback ul {
  list-style: none;
  margin: 0;
  list-style: none;
  padding: 0;
  li {
    border-bottom: 1px solid rgb(173, 173, 173);
    padding: 5px 10px;
    h2 {
      font-size: 20px;
      margin: 0;
    }
    p {
      font-size: 14px;
      margin: 0;
    }
    span {
      font-size: 12px;
      color: rgb(58, 58, 58);
    }
  }
}

.user-book-feedback-title {
  text-align: center;
  padding: 20px 0 0 50px;
  margin: 0;
}

.form-group_btn {
  margin-top: 10px;
}

.user-book-text {
  height: 300px;
  overflow: auto;
  padding: 20px 10px;
}

.conf-btn-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  label {
    padding-right: 10px;
  }
}

.confirm-btn-disabled {
  width: 50px;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    width: 50px;
    height: 15px;
    background-color: rgb(218, 218, 218);
    border-radius: 5px;
    position: absolute;
    top: 6px;
    left: 0;
  }
  &::after {
    content: "";
    width: 25px;
    height: 25px;
    background-color: rgb(129, 129, 129);
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0;
  }
}
.confirm-btn-active {
  width: 50px;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  position: relative;
  cursor: pointer;
  &::before {
    content: "";
    width: 50px;
    height: 15px;
    background-color: rgb(176, 223, 255);
    border-radius: 5px;
    position: absolute;
    top: 6px;
    left: 0;
  }
  &::after {
    content: "";
    width: 25px;
    height: 25px;
    background-color: #2199e8;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    right: -3px;
  }
}

.confirm-status-active{
  color: #2199e8;
}
.confirm-status-disabled{
  color: #ef6c57;
}
