<section class="container">
    <form action="" [formGroup]="editUserForm" (submit)="sendUpdateUser()">
        <div class="user-book-info">
            <div class="image">
                <img src={{imageUser}} alt="book img">
            </div>
            <div class="info">
                <div class="form-group">
                    <label for="addBookName">User Name</label>
                    <input type="text" class="form-control" id="addBookName" placeholder="Enter you title book"
                        formControlName="userName" [(ngModel)]="user.userName" pattern=".{2,}">
                </div>
                <div class="form-group">
                    <label for="addBookName">User email</label>
                    <input type="email" class="form-control" id="addBookName" placeholder="Enter you email"
                        formControlName="email" [(ngModel)]="user.email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                </div>
                <div class="form-group">
                    <label for="addBookAuthor">Select magazine</label>
                    <div class="add-author">
                        <ng-select [items]="roleArr" formControlName="role" bindLabel="title" bindValue="id"
                            class="selectRole" [(ngModel)]="user.role">
                        </ng-select>
                    </div>
                </div>
                <div class="form-group conf-btn-group">
                    <label for="addBookName" [class.confirm-status-disabled]="!user.conf"
                        [class.confirm-status-active]="user.conf">{{userConfirmStatus}}</label>
                    <button type="button" class="confirm-btn-actiive" [class.confirm-btn-disabled]="!user.conf"
                        [class.confirm-btn-active]="user.conf" (click)="changeConfirmUser()"></button>
                </div>
                <div class="send-edit-book">
                    <button type="submit" class="btn-send-edit-book btn btn-primary col-lg-4">Update
                        user</button>
                </div>
                <div class="social">
                    <span class="social-span">Follow us:</span>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-google-plus-g"></i>
                </div>
            </div>
        </div>
    </form>
</section>