@import '../../../../styles/preloader.scss';
.addbook-sort {
  margin-top: 20px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 20px;
  background-color: #0069d9;
  color: white;
  border-radius: 5px;
}
.users-list {
  padding: 0;
  list-style: none;
  margin-top: 20px;
}

.users-item {
  * {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(223, 223, 223);
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0px 2px 13px 0px rgba(126, 126, 126, 0.75);
  h1 {
    font-size: 18px;
    color: #0c005a;
  }
  p {
    font-size: 16px;
    color: #0c005a;
  }
}

.users-info-block span {
  font-weight: 700;
  color: rgb(95, 95, 95);
}

.users-btn-group .btn {
  padding: 5px 10px;
  margin: 0 5px;
}

.users {
  .fa-check-circle {
    color: green;
    margin-left: 5px;
  }
  .fa-times-circle {
    color: red;
    margin-left: 5px;
  }
}

.user-select-role {
  display: flex;
}
