<section class="books-admin">
  <div class="addbook-sort row">
    <div class="form-group col-lg-12">
      <label for="addBookName">Enter user name or email</label>
      <input type="text" class="form-control" id="addBookName" placeholder="Search..." (keyup)="search()"
        [(ngModel)]="searchInputValue">
    </div>
  </div>
</section>
<section class="users">
  <ul class="users-list">
    <li class="users-item"
      *ngFor="let element of allUsersArr | paginate: { id: 'usersArr', itemsPerPage: pagingCounter.step, currentPage: p, totalItems: pagingCounter.lengthArr } ; let i = index ">
      <div class="users-info-block">
        <h1><span>Name: </span>{{element.userName}}</h1>
        <p><span>Email: </span>{{element.email}}</p>
        <p><span>Confirmed: </span>
          <i class="far fa-check-circle" *ngIf="element.conf"></i>
          <i class="far fa-times-circle" *ngIf="!element.conf"></i>
        </p>
      </div>
      <div class="users-btn-group">
        <button class="btn btn-primary" id={{i}} routerLink="/admin/edit-user/{{element._id}}"><i
            class="fas fa-user-edit"></i> Edit</button>
        <button class="btn btn-success" id={{i}} (click)="confirm($event)" [class.btn-warning]="element.conf"><i
            class="fas fa-check-double"></i> Confirm</button>
        <button class="btn btn-danger" id={{i}} (click)="delete($event)"><i class="fas fa-trash-alt"></i>
          Delete</button>
      </div>
    </li>
  </ul>
  <pagination-controls class="book-pagination" (pageChange)="p = $event" id='usersArr' (click)="getPaginationValue(p)">
  </pagination-controls>
</section>
