.author-block {
  display: flex;
  justify-content: center;
}

.author-info {
  width: 30%;
  padding: 20px 0;
  img {
    width: 100%;
  }
  h1 {
    font-size: 30px;
    padding: 10px 0;
  }
  p {
    font-weight: 500;
  }
  span {
    font-weight: 400;
  }
}

.author-books {
  width: 70%;
  padding: 20px 20px 20px 70px;
}
