<section class="container author-block">
  <div class="author-info">
    <img src={{author.img}} alt="avatar author">
    <h1>{{author.name}}</h1>
    <p>Birth date: <span>18.07.2019</span></p>
    <p>Biography:
      <span>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id vel sint officia architecto a. Pariatur
        reprehenderit voluptatum eligendi aspernatur ipsum non molestias dolorum, eos eveniet laboriosam nulla ad sunt
        culpa.
      </span>
    </p>
  </div>
  <div class="author-books">
    <h2>All author books</h2>
    <ul>
      <li *ngFor="let book of books">
        <a routerLink="/user/book/{{book._id}}">{{book.title}}</a>
      </li>
    </ul>
  </div>
</section>