.h-add-user {
  text-align: center;
  padding: 10px;
}

.form-add-user {
  margin-top: 20px;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0px 2px 13px 0px rgba(126, 126, 126, 0.75);
  padding: 10px 20px;
}

.status-reg {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
