<h1 class="h-add-user">Add new user</h1>
<form class="form-add-user" [formGroup]="addNewUser" (submit)="submitFormReg()">
  <div class="form-group">
    <label for="inputName">Name (Two or more characters)</label>
    <input type="text" class="form-control" id="inputName" aria-describedby="emailHelp" placeholder="Enter name"
      formControlName="userName" pattern=".{2,}">
  </div>
  <div class="form-group">
    <label for="inputEmail">Email address</label>
    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email"
      formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
  </div>
  <div class="form-group">
    <label for="inputPassword">Password (Six or more characters)</label>
    <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password"
      pattern=".{6,}">
  </div>
  <div class="form-group">
    <label for="choseRole">Chose role</label>
    <select class="form-control" id="choseRole" formControlName="role" value="1">
      <option value={{1}}>User</option>
      <option value={{2}}>Admin</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]='!addNewUser.valid'>Save</button>
</form>
<p class="status-reg">{{statusReg}}</p>