<section class="books-admin">
    <div class="addbook-sort row">
        <div class="form-group col-lg-12">
            <label for="addBookName">Enter book OR author title</label>
            <input type="email" class="form-control" id="addBookName" placeholder="Search..." (keyup)="search()"
                [(ngModel)]="searchInputValue">
        </div>
    </div>
</section>

<section class="books">
    <div class="row">
        <div class="card"
            *ngFor="let magazine of filterAllMagazinesArr | paginate: { id: 'magazinesArr', itemsPerPage: pagingCounter.step, currentPage: p, totalItems: pagingCounter.lengthArr }">
            <div class="card-body-img">
                <img class="card-img-top" src={{magazine.img}} alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{magazine.title | slice : 0 : 30}}</h5>
                <button class="btn btn-primary" id={{magazine._id}}
                    routerLink="/admin/edit-magazine/{{magazine._id}}"><i class="far fa-edit"></i> Edit</button>
                <button class="btn btn-danger" id={{magazine._id}} (click)="delete($event)"><i
                        class="fas fa-trash-alt"></i> Delete</button>
            </div>
        </div>
    </div>
</section>

<pagination-controls class="book-pagination" (pageChange)="p = $event" id='magazinesArr'
    (click)="getPaginationValue(p)"></pagination-controls>

<app-preloader *ngIf='isLoader'></app-preloader>