<form class="addAuthor" [formGroup]="addAuthorFormGroup" (submit)="add()">
  <h1>Add author</h1>
  <div class="form-group add-book-file">
    <label for="addPhoto">Add author photo </label>
    <input type="file" class="form-control" id="addPhoto" placeholder="Enter you link on image"
      (change)="imgToBaseAuthor($event)" formControlName="img">
  </div>
  <div class="form-group">
    <label for="addAuthorkName">Enter author Name</label>
    <input type="text" class="form-control" id="addAuthorkName" placeholder="Enter author name"
      formControlName="authorName">
  </div>
  <div class="form-group">
    <label for="addAuthorkName">Enter author Surname</label>
    <input type="text" class="form-control" id="addAuthorkName" placeholder="Enter author name"
      formControlName="authorSurname">
  </div>
  <button type="submit" class="btn btn-success">Add author</button>
</form>