@import '../../../../styles/preloader.scss';
.book-buttons .btn {
  margin: 10px 10px 0 0;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
}

.addbook,
.addAuthor {
  width: 500px;
  margin-top: 15px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 20px;
  position: absolute;
  background-color: #0069d9;
  z-index: 999;
  color: white;
  border-radius: 5px;
  .add-author{
    width: 100%;
    background: #fff;
    border-radius: 5px;
    z-index: 2000;
  }
  
  .add-book-file {
    position: relative;

    input {
      line-height: 18px;

      &::before {
        content: "Load image";
        background-color: #248b3c;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 3px;
        color: #fff;
        position: absolute;
        width: 130px;
        height: 36px;
        top: 33px;
        left: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 1000;
      }

      &:hover::before {
        content: "Select image";
        background-color: #1d6d2f;
        transition: all 0.2s;
      }
    }
  }
}

.addbook-sort {
  margin-top: 20px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 20px;
  background-color: #0069d9;
  color: white;
  border-radius: 5px;
}

.books .row {
  justify-content: center;

  .card {
    width: 250px;
    align-items: center;
    margin: 10px;
    box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75);

    .card-body-img {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;

      .card-img-top {
        width: 50%;
      }
    }
    .card-body {
      width: 250px;
      text-align: left;

      .card-title,
      .card-text {
        height: 50px;
      }

      .btn {
        margin: 0 5px;
      }
    }
  }
}

.modal-book {
  width: 80%;
  height: 80vh;
  background-color: #fff;
  position: absolute;
  top: 70px;
  left: 10%;
  padding: 0 20px 10px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(145, 145, 145);
  overflow: auto;
  box-shadow: 0px 4px 14px 5px rgba(214, 214, 214, 1);

  h1 {
    padding: 5px 0;
    text-align: center;
  }
}

.book-pagination {
  display: flex;
  justify-content: center;

  /deep/ .ngx-pagination {
    padding: 0;
  }
}
