<section class="books-admin">
    <div class="addbook-sort row">
        <div class="form-group col-lg-12">
            <label for="addBookName">Enter book OR author title</label>
            <input type="email" class="form-control" id="addBookName" placeholder="Search..." (keyup)="search()"
                [(ngModel)]="searchInputValue">
        </div>
    </div>
</section>

<section class="books">
    <div class="row">
        <div class="card"
            *ngFor="let book of filterallBooksArr | paginate: { id: 'booksArr', itemsPerPage: pagingCounter.step, currentPage: p, totalItems: pagingCounter.lengthArr }">
            <div class="card-body-img">
                <img class="card-img-top" src={{book.img}} alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{book.title | slice : 0 : 20}}</h5>
                <p class="card-text">Автор: <a *ngFor="let author of book.authorId | slice : 0 : 2"
                        routerLink="/admin/edit-author/{{author._id}}">{{author.name
                        | slice : 0 : 10}}, </a></p>
                <button class="btn btn-primary" id={{book._id}} routerLink="/admin/edit-book/{{book._id}}"><i
                        class="far fa-edit"></i> Edit</button>
                <button class="btn btn-danger" id={{book._id}} (click)="delete($event)"><i class="fas fa-trash-alt"></i>
                    Delete</button>
            </div>
        </div>
    </div>
</section>

<pagination-controls class="book-pagination" (pageChange)="p = $event" id='booksArr' (click)="getPaginationValue(p)">
</pagination-controls>

<app-preloader *ngIf="isLoader"></app-preloader>
