<section class="container">
  <div class="addbook-sort row">
    <div class="form-group col-lg-12">
      <input type="email" class="form-control" id="addBookName" placeholder="Search..." (keyup)="search()"
        [(ngModel)]="searchInputValue">
    </div>
  </div>
</section>
<section class="books container">
  <mat-form-field>
    <mat-select placeholder="Quantity items" [(ngModel)]="+pagingCounter.step" (selectionChange)="getPaging()">
      <mat-option *ngFor="let page of pagesCounter" [value]="page">
        {{page}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div class="row">
    <div class="card"
      *ngFor="let book of filterallBooksArr | paginate: { id: 'booksArr', itemsPerPage: pagingCounter.step, currentPage: p, totalItems: pagingCounter.lengthArr }">
      <div class="card-body-img">
        <img class="card-img-top" src={{book.img}} alt="Card image cap">
      </div>
      <div class="card-body">
        <h5 class="card-title">{{book.title | slice : 0 : 30}}</h5>
        <p class="card-text">Автор: <a *ngFor="let author of book.authorId | slice : 0 : 2"
            routerLink="/user/author/{{author._id}}">{{author.name | slice : 0 : 10}}, </a></p>
        <button class="btn btn-primary" routerLink="/user/book/{{book._id}}">Open</button>
      </div>
    </div>

  </div>
</section>

<pagination-controls class="book-pagination" (pageChange)="p = $event" id='booksArr' (click)="getPaginationValue(p)">
</pagination-controls>

<app-preloader *ngIf="isLoader"></app-preloader>