@import '../../../../styles/preloader.scss';
main {
  padding-top: 20px;
}

.addbook-sort .form-group {
  margin: 0;
}

.card {
  width: 250px;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.75);
}

.card-body-img {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(199, 199, 199);
}

.card img {
  max-width: 200px;
}

.card-body {
  width: 250px;
  text-align: left;
}

.card h5.card-title {
  height: 50px;
}

.book-buttons .btn {
  margin: 10px 10px 0 0;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
}

.addbook-sort {
  margin-top: 20px;
  box-shadow: 0px 2px 13px 0px rgba(0, 0, 0, 0.75);
  padding: 10px 20px;
  background-color: #0069d9;
  color: white;
  border-radius: 5px;
}

.books,
.row {
  padding: 10px 20px;
  justify-content: center;
}

.books {
  .row {
    .card {
      margin: 10px;
      box-shadow: 0px 4px 14px 5px rgba(214, 214, 214, 1);
    }
    .card-body-img {
      overflow: hidden;
      width: 100%;
      text-align: center;
    }
    .card .card-body-img {
      padding-top: 10px;
      text-align: center;
    }
  }
  .card {
    .card-img-top {
      max-width: 50%;
      max-height: 100%;
    }
    .card-body {
      text-align: left;
    }
    .card-text {
      height: 50px;
    }
    .card-body .btn {
      margin: 0 5px;
    }
  }
}

.modal-book {
  width: 80%;
  height: 80vh;
  background-color: #fff;
  position: absolute;
  top: 70px;
  left: 10%;
  padding: 0 20px 10px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(145, 145, 145);
  overflow: auto;
  box-shadow: 0px 4px 14px 5px rgba(214, 214, 214, 1);
  h1 {
    padding: 5px 0;
    text-align: center;
  }
}

.modal-book-text {
  width: 100%;
}

.modal-book-author {
  font-size: 22px;
}

.modal-book-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #d34848;
  cursor: pointer;
  background-color: white;
  border: 1px solid #eee;
  outline-color: transparent;
  &:hover {
    color: #ff8162;
  }
}

.book-pagination {
  display: flex;
  justify-content: center;
  /deep/ .ngx-pagination {
    padding: 0;
  }
}

// mat-form-field{
//   width: 100px;
//   * {
//     color: white;
//   }
// }