.user-info {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid rgb(223, 223, 223);
  box-shadow: 0px 2px 13px 0px rgba(126, 126, 126, 0.75);
}

.user-name {
  margin: 0;
  padding-left: 10px;
  .fas {
    padding-right: 5px;
  }
}

.user-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    li {
      margin: 0 5px;
      padding: 4px 10px;
      background-color: #05004e;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #05004ee1;
      }
    }
  }
}

.header {
  width: 100%;
  padding: 0;
  background-color: #0069d9;
}
